.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* ESERCIZIO */


@media screen and (max-width: 420px) {

/* ridimensionamento margini e font */
  body {
    margin: 0 auto;
    font-size: 12px;
  }

/* nuova grandezza immagini */
  img {
    width: 25%;
    height: auto;
  }

  #why .row img {
    width: calc(25% - 60px);
    height: auto;
  }

/* nuovo spazio dei titoli principali */
  h1 {
    margin: 0;
    padding: 10px 0;
  }

  h3 {
    margin: 0;
  }

/* nuovo distanziamento degli hr */
  hr {
    margin-top: 0;
    margin-bottom: 16px;
  }

/* tolta la grandezza in px per far adattare il layout alle nuove dimensioni più padding laterale*/
  .row {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

/* nuovo layout, colore background e padding per la separazione verticale tra div */
  #lezioni > .row {
    background-color: #f2f2cd;
    margin: 0;
  }

  #lezioni > .row > .left {
    float: none;
    width: 100%;
    padding-bottom: 10px;
  }

  #lezioni > .row > .right {
    float: none;
    width: 100%;
    padding-bottom: 10px;
  }

  #steps {
    background-color: white;
  }

  #steps > .row{
    margin-top: 0;
  }

  #steps > .row > .left {
    float: none;
    width: 100%;
    padding-bottom: 10px;
  }

  #steps > .row > .central {
    float: none;
    width: 100%;
    padding-bottom: 10px;
  }

  #steps > .row > .right {
    float: none;
    width: 100%;
    padding-bottom: 10px;
  }

  #why > .row {
    background-color: #f2f2cd;
    margin: 0;
    padding-bottom: 10px;
  }

/* eliminato margine superiore dei div nella terza sezione */
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 0;
  }

}
